*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 180px;
    background-image: url('../img/pattern.png');
    background-color:#4DA1FF;
}

header .logo{
    width: 200px;
    height: 100px;
    margin-top: 90px;
    margin-left: 10px;
}